<nav>
  <a href="/">
    <img src="{{site.base_dir}}/assets/logo.jpg" id="logo" alt="Blog logo"/>
  </a>
  <hr/>
  <ul>
  <p>Hi, my name is Yong Heng.</p>

  <p> I'm a Software Developer based in Singapore, and i absolutely love what i do.</p>
  
  <p>This blog is my attempt to start some technical blogging when im free.</p>
  <p>i am feeling lazy, so as a start, i am going to write a job that sync all my tweets over.</p>

  <p>Feel free to contact me as you wish, the icon links have my contact.</p>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  </ul>
</nav>